.vscode
db.sqlite3
__pycache__/*
*.pyc
*.pyo
*.pyd
*.class
*.idea
*.iml
*.ipr
*.iws
*.log
*.encodings
**/*.out
**/*.log
**/*.xml
**/*.txt
**/*.html
**/*.json
**/*.map
**/*.png
**/*.svg
**/*.jpg
**/*.jpeg
**/*.bmp
**/*.ico
**/*.gif